#myFooter {
    /*margin-top: 5rem;*/
    background-color: #f5a432;
    color: white;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 5rem;
}

#myFooter .footer-copyright {
    background-color: #995f12;
    padding-bottom: 3px;
    text-align: center;
    width: 100%;
}



#myFooter .footer-copyright p {
    margin-bottom: 5px;
    padding-top: 10px;
    font-weight: lighter;
    font-size: 1rem;
    color: #ccc;
}


.catscarf-logo-footer{


}
.arrengement{
    width: 10rem;
    gap: 2rem;
}
.logo-text{
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: lighter;
    font-family: Alice, serif;
    color: white;
    text-align: center;
    margin: 0;
}

.icons{display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(209deg) brightness(106%) contrast(101%);
    /*margin-bottom: 5%;*/
}

.icons-picture {
    width: 1.8rem;
}

.text-description{
    margin: 0 2rem;
    text-align: center;
    color: white;
    font-family: Alice, serif;
    font-size: 1.5rem;
    /*margin-bottom: 5%*/
}
