body {
    margin: 0;

}
.lines {
    /*width: 100vw;*/
    /*background: orange;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.hr-header
{
    height: 0.5px;
    margin: 0;
    /*width: 70rem;*/
    background-color: silver;
    border: 0;
    opacity: 0.5;
}
.catscarf-logo {
    font-size: 0.65rem;
    margin-right: 2.5rem;
    margin-top: .8rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}
.leftline {
    margin-right: 5rem;
    width: 14rem;
}
.rightline {
    margin-left: 5rem;
    width: 15rem;
}

body{height: 100%;}

#header{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    gap: 4rem;
    font-family: Alice, serif;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    opacity: 0.7;
    margin-top: 0.8rem;
}

.avatar-logo {
    width: 6rem;
    line-height: 2em;

}
.basket{position: absolute;
    right: 1rem;
    width: 1.5rem;
}

.catscarf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: .1em;
    opacity: .7;
}
.arrengement {
    margin-bottom: 1rem;
    font-weight: 100;
}