body, html {
    height: 100%;
}

.parallax {
    text-align:center;
    line-height: 13;
    color: black;
    background-image:url('../image/Sleepy Cat Slider.jpg');
    width:93.875rem;
    height:56.875rem;

}
/*.text-silder-home-page {*/
/*    position: absolute;*/

/*}*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}