.twiter:hover {
    color: #a8a802;
}
.link-id-one:hover{
    color: #2b7bb9;

}
.link-id-one-post-two:hover{
    color: #2b7bb9;

}
.link-id-one-post-three:hover{
    color: #2b7bb9;

}

#list-recent-post span:nth-child(odd):hover{
    color: #a8a802;
    text-decoration: none;

}
.post-twiter:hover {
    background-color: #ecf7fa;
    border-radius: 0.09rem;


}
.post-twiter-two:hover {
    background-color: #ecf7fa;
    border-radius: 0.09rem;


}
.post-twiter-three:hover {
    background-color: #ecf7fa;
    border-radius: 0.09rem;

}


::selection {
    background: #f15a22;
    color: #fff;
    text-shadow: none;
}