.preload {
    margin: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    /*transform: translateY(-100%);*/
    position: fixed;
    animation-duration: 2s;
    animation-name: preload-fadeOut;
    animation-timing-function: cubic-bezier(1,.01,.36,-0.16);
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    z-index: 1;

}
.preload-img {
    width: 100px;
    height: 100px;
}

@keyframes preload-fadeOut {
    0% {opacity: 1; visibility: visible}
    100% {opacity: 0; visibility: hidden}
}