@media screen and (max-width: 1000px) {
    .shop-container {
        display: grid;
        margin: 0 5vw;
        width: 90vw;
        grid-template: repeat(2, auto) / 100fr;
        grid-template-areas: "picture" "ttext";
    }
}

@media screen and (max-width: 650px) {
    #header {
        visibility: hidden;
    }
    .avatar-logo {
        visibility: visible;
    }
    .basket {
        visibility: visible;
    }
    .catscarf {
        justify-content: left;
    }
    .lines {
        visibility: hidden;
    }
}