body {
    margin: 0;
    font-family: Alice, serif;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.thoughts-main-posts-hr {
    height: 1px;
    background-color: #909090;
    margin: 2rem 0;
    border: 0;
    opacity: 0.5;
}

.thoughts-main-container {
    display: flex;
    flex-direction: column;
}

.thoughts {
    color: #c7d93b;
}

.thoughts-main {
    display: grid;
    width: 100vw;
    grid-template: 100fr / 70fr 30fr;
    grid-template-areas: "posts" "sidebar";
}


.thoughts-main-posts {
    margin: 3% 10% 10% 10%;
    display: flex;
    flex-direction: column;
}

.thoughts-main-posts-intro {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}

.thoughts-main-posts-intro-caption {
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
    font-family: 'Playfair Display SC', serif;
    color: #444444;
}

.thoughts-main-posts-intro-date {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'Playfair Display SC', serif;
    color: #c7c7c7;
}

.thoughts-main-posts-box {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}

.thoughts-main-posts-box-title {
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
    font-family: 'Playfair Display SC', serif;
    color: #444444;

}

.thoughts-main-posts-box-date {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'Playfair Display SC', serif;
    color: #c7c7c7;
}

.thoughts-main-posts-box-picture {

}

.thoughts-main-posts-box-description {
    font-weight: normal;
    font-size: 1rem;
    margin: 2rem 0;
    color: #444444;

}

.thoughts-main-pagenumber {
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.site-video-cat {
    color: #444444;

}

.site-video-cat:hover {
    color: olive;

}

.link-title {
    color: #444444;
    text-decoration: none;
    font-size: 3.7499375rem;
}

.link-title:hover {
    color: olive;
    text-decoration: none;
}

div .thoughts-main-pagenumber a {
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
}

div .thoughts-main-pagenumber a:first-child {
    color: olive;
}
/*@media screen and (min-width: 1141px) {*/

/*    */
/*}*/
@media screen and (min-width: 1141px) {
    .topnav {
        display: none;
    }
}

@media screen and (max-width: 1141px) {
    .thoughts-main {
        grid-template: 100fr / 100fr;
        grid-template-areas: "posts";
    }

    .thoughts-sidebar {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    /*hidden header desktop*/
    #header {
        visibility: hidden;
        max-height: 100px;
    }

    .lines {
        visibility: hidden;
        max-height: 100px;
    }

    .catscarf {
        visibility: hidden;
        max-height: 100px;
    }

    /*show header mobile*/
    .topnav.opened {
        position: relative;
        max-height: 200px;
        transition: max-height 0.5s;
        visibility: visible;
    }

    .click-icon .icon {
        display: inline-block;


    }

    .topnav.opened a {
        float: none;
        display: block;
        text-align: center;
    }
}

.logotype-small {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    letter-spacing: .5em;
    font-size: 65%;
}

.squirrel-svg {
    float: left;
    height: 50px;
    width: 50px;
    margin: 0 .5em;
    cursor: pointer;
    vertical-align: middle;
}

.squirrel-logo {
    height: 50px;
    width: 50px;
    margin: 0 .5em;
    cursor: pointer;
    vertical-align: middle;
}

.thoughts-main-posts {
    display: inline-block;
    color: #000;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    width: 80%;

}
.link-title {
    /*font-size: 2.30625rem;*/

}
@media screen and (max-width: 1140px) {
    /*.thoughts-main-posts-box-title {*/
    /*    font-size: 1.5rem;*/
    /*}*/

    .thoughts-main-posts-box-date {
        font-size: 0.8125rem;

    }

.link-title {
    font-size: 2.25rem;
}
}
@media screen and (max-width: 570px){

}