#header a:hover{
    text-decoration: none;
    color: #a8a802;
}

.catscarf a:hover {
    color: #a8a802;

}

.twitter:hover {
    color:#c7d93b;
}
.link-id-one:hover{
    color: #2b7bb9;

}
.link-id-one-post-two:hover{
    color: #2b7bb9;

}

.link-id-one-post-three:hover{
    color: #2b7bb9;

}
.date-post:hover {
    color: silver;
}
#list-recent-post span:nth-child(odd):hover{
    color: #c7d93b;
    text-decoration: none;

}
.one-post-twitter:hover {
    background-color: #ecf7fa;
    border-radius: 0.09rem;


}
.two-post-twitter:hover {
    background-color: #ecf7fa;
    border-radius: 0.09rem;


}
.three-post-twitter:hover {
    background-color: #ecf7fa;
    border-radius: 0.09rem;

}

.site-video-cat:hover {
    color: #c7d93b;

}
.thoughts-main-page-number a:hover {
    color: #c7d93b;

}
::selection {
    background: #f15a22;
    color: #fff;
    text-shadow: none;
}


.footer-logo-text:hover {
    color: #c7d93b;
}