.thoughts-picture {
    width: 100vw;
    height: 41vh;
    background: url("../img/img_blog_header.jpg");
    background-size: 100%;
    background-position-y: center;
    /*object-fit: cover;*/
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    /*margin: 1.2rem 0;*/
}

.thoughts-picture-text {
    font-family: "Sacramento", Serif;
    font-size: 5rem;
    color: white;
}
