body {
    margin: 0;
}
/*.lines {*/
/*    !*width: 100vw;*!*/
/*    !*background: orange;*!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    justify-items: center;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*}*/
.transparent-squirrel-svg{
    width: 130px;
    height: 80px;
    padding-bottom: 1em;

}
/*hr*/
/*{*/
/*    height: 1px;*/
/*    margin: 0;*/
/*    width: 12rem;*/
/*    background-color: #37444c;*/
/*    border: 0;*/
/*    opacity: 0.5;*/
/*}*/
.transparent-catscarf-logo {
    font-size: 0.8rem;
    margin-right: 2rem;
    color: white;
}
.transparent-catscarf-logo:hover{
    cursor: pointer;
    color: #c7d93b;
}

body {
    margin: 0;
}

#transparent-header{
    padding-top: 1rem;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-family: serif;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 2rem;
    align-items: center;
    box-sizing: border-box;
    transition: all 350ms ease 0s;
    z-index: 6;
}

.transparent-header-sections{
    height: 100%;
    width: 9rem;
    text-align: center;
}

#transparent-header a{
    letter-spacing: .1em;
    font-size: 1rem;
    font-family: Alice,serif;;
    padding-bottom: 7px;
    width: 100%;
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-decoration: none;
}

#transparent-header a:hover{
    color: #c7d93b;
    cursor: pointer;
}

.catscarf-type-container {
    position: absolute;
    bottom: -6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.catscarf-type-logo {
    font-size: 0.65rem;
    letter-spacing: 1.5px;
    color: white;
}

.catscarf-type-logo:hover{
    cursor: pointer;
    color: #c7d93b;
}
.transparent-hidden{
    max-height: 0;
    opacity: 0;
    visibility: collapse;
}
.transparent-visible{
    max-height: 7rem;

}
/*.avatar-logo {*/
/*    width: 6rem;*/
/*    line-height: 2em;*/

/*}*/
.transparent-basket{
    width: 2rem;
    position: absolute;
    right: 2rem;
    /*top: 1rem;*/

}

.transparent-catscarf {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.collection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    /*z-index: 6;*/
}
.collection-caption {
    font-size: 6rem;
    font-family: 'Playfair Display SC', serif;
    font-weight: lighter;
    font-style: italic;
    color: white;
    margin: 0;
}
.collection-line {
    width: 70rem;
    background-color: white;
    border-color: white;
}
.collection-subtext {
    font-family: Sacramento, sans-serif;
    font-size: 4rem;
    font-weight: lighter;
    color: white;
    margin: 0 2rem;
}
.collection-subtext:hover {
    color: #c7d93b;
    cursor: pointer;
}

@media screen and (max-width: 650px) {

    #transparent-header {
        visibility: hidden;
        transition: opacity 350ms ease 0s ,max-height 350ms ease 0s;
    }

    .collection-caption {
        font-size: 3rem;
    }

    .collection-line {
        width: 30rem;
    }
    .collection-subtext {
        font-size: 3rem;
        margin: 0 1rem;
    }

}