

.gird-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-right: 8rem;


}

.post-twiter-three {
    width: 20rem;
}
.post-twiter-thoughts-page-three {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 1rem;

}

/*.image-post-three {*/

/*    margin-right: 5rem;*/

/*}*/
.avatar-twiter-post-three {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50px;

}
h1 {
    font-family: 'Playfair Display SC', serif;
    line-height: 0.9rem;

}
h3 {
    font-size: 0.7rem;
    font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    line-height: 0;


}
.link-id-one-post-three {
    color: #444444;
    text-decoration: none;



}
.link-id-two-post-three {
    font-size: 0.7rem;
    color: #657786;
    text-decoration: none;
    font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
    font-weight: lighter;

}
.link-id-one-post-three:hover{
    color: #2b7bb9;

}

.icon {
    margin: 0rem 0 1rem 0;


}

div .under-text-id-post-three a{
    text-decoration: none;
    color: #2b7bb9;
    font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;

}
.under-text-id-post-three {
    padding: 0 0 2rem 0;
    font-size: 0.8rem;
    /*margin-top: 1.2rem;*/
    font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;

}
.main-post-three-twiter {
    display: grid;
    grid-template-rows: 3fr 1rem 1rem 1rem;
    /*width: 20rem;*/


}
.picture-post-three-twiter {
    /*position: absolute;*/
    /*clip: rect(4rem,23rem,15rem,0rem);*/
    /*border-radius: 1rem 1rem 0 0 ;*/


}
h2 {
    font-size: 0.7rem;
    padding: 0 0 0 1rem;
    line-height: 0;
    font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;

}

.line-icon-three {
    display: grid;
    grid-template-columns: 3rem 10rem 11rem;
    color: grey;
    padding-top: 1rem ;
}
time {
    line-height: 3rem;
    margin-left: 2.1rem;
    font-size: 0.8rem;
    font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
}
.date-post-three {
    text-decoration: none;
    color: gray;
}