@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
body {
    margin: 0;
    font-family: Alice,serif;
}
.topnav {
    transition: max-height .5s;
    max-height: 0;
    overflow: hidden;
    background-color: #ffff;
}
.topnav a {
    /*   float: left;*/
    display: block;
    color: black ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.click-icon .icon {
    display: none;
}

.click-icon a {
    display: block;
    color: black ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
@media screen and (min-width: 1141px) {
    .topnav{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        border-bottom: none;
        float: left;
        display: block;

    }
}

@media screen and (max-width: 640px) {
    .topnav.opened {
        position: relative;
        max-height: 200px;
        transition: max-height 0.5s;
        visibility: visible;
    }


    @media screen and (max-width: 640px) {
     .topnav a:not(:first-child) {display: none;}
      .topnav a.icon {
     border-bottom: none;
      float: left;
       display: block;

    }
}

    .click-icon .icon {
        display: inline-block;


    }
    .topnav.opened a {
        float: none;
        display: block;
        text-align: center;
    }
}
.logotype-small{
    font-family: "Playfair Display SC",serif;
    font-weight: 400;
    letter-spacing: .5em;
    font-size: 65%;
}
.squirrel-svg{
    float: left;
    height: 50px;
    width: 50px;
    margin: 0 .5em;
    cursor: pointer;
    vertical-align: middle;
}
.squirrel-logo{
    height: 50px;
    width: 50px;
    margin: 0 .5em;
    cursor: pointer;
    vertical-align: middle;
}
@media screen and (max-width: 640px){
    .line-header-bottom{
        display: none;
    }

}