#footer-cart-page {
    background-color: #f5a432;
    color: white;
    padding-top: 10px;

}

#footer-cart-page .copyright-footer {
    background-color: #995f12;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Playfair Display SC",serif;
    font-weight: normal;
}
#footer-cart-page .copyright-footer p {
    margin-bottom: 5px;
    padding-top: 10px;
    font-weight: lighter;
    font-size: 0.6rem;
    color: #ccc;
}
.logo-footer-cart{
    width:100%;
    height: 6rem;
    cursor: pointer;
}
.catscarf-logo-footer-cart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
}
.logo-text-footer-cart{
    font-size: 0.8rem;
    font-weight: lighter;
    font-family: serif;
    color: white;
    text-align: center;
    margin: 0;

}
.logo-text-link:hover{
    color: #c9df52;
}
.logo-text-link{
    color: white;
    text-decoration: none;
    transition:all 0.2s;
}
.icon-footer-cart{display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(209deg) brightness(106%) contrast(101%);
}
.icon-pic-footer{
    width: 1.5rem;
    cursor: pointer;
}
.text-description-footer{

    text-align: center;
    color: white;
    font-family: "Playfair Display SC",serif;
    font-size: 1.5rem;
    margin-bottom: 5%
}


@media screen and (max-width: 767px) {
    #footer-cart-page {
        text-align: center;
    }
}
.mail , .instagram, .twitter{
    cursor: pointer;
    transition:all 0.2s;
}
/* CSS used for positioning the footers at the bottom of the page. */


html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content-cart-page{
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    min-height: 200px;
    overflow-x: hidden ;
}

#footer-cart-page{
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    overflow-x: hidden;
}