#header-cart-black{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    gap: 4rem;
    font-family: Alice, serif;
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    opacity: 0.7;
    margin-top: 0.8rem;
}
#header-cart-black a{
    text-decoration: none;
    color: #444444;
    transition: all 0.2s;
}
#header-cart-black a:hover{
    color: #c7d93b;
}
.avatar-logo-white {
    width: 6rem;
    line-height: 2em;

}
.basket-header-cart{position: absolute;
    right: 1rem;
    width: 1.5rem;
}
.basket-header-cart-mobile{position: absolute;
    right: 1rem;
    width: 1.5rem;
    top: 1rem;
}

.line-header-bottom{

    height: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

}
.line-header-cart
{
    height: 0.008rem;
    margin: 0;
    width: 70rem;
    background-color:#c7c7c7;
    border: 0;
    opacity: 0.5;
}

.leftline {
    margin-right: 5rem;
    width: 14rem;
}
.rightline {
    margin-left: 5rem;
    width: 15rem;
}

.catscarf-header-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: .1em;
    opacity: .7;
}
.catscarf-header-cart a {
    text-decoration: none;
    color: rgba(35,33,30,0.86);
    transition: all 0.2s;
}

.catscarf-logo-header-cart{
    font-size: 0.65rem;
    margin-right: 2.5rem;
    margin-top: .8rem;
    margin-bottom: 1.5rem;
    font-weight: lighter;
}
.catscarf-header-cart :hover{
    color: #c7d93b;;
}
body{height: 100%;}





