.main-cart{
    width: 85%;
    margin-left: 7%;
    margin-right: 3%;
    display: block;
   padding: 0;

}
.main-cart-title{
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    text-align: center;
    font-size: 2.5rem;
    color: #474542;


}


.main-cart-table{
width: 100%;
 margin: 0;

    border-collapse: collapse;
    padding-bottom: 3%;
    padding-top: 3%;

}
tbody td{
    padding-bottom: 3%;
    padding-top: 3%;

}

tbody {
    border-bottom: 0.001rem solid #c7c7c7;
    color: #454340;
    width: 85vw;
}
tfoot{
    border-bottom: 0.001rem solid #c7c7c7;
    width: 85vw;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: #474542;
}


th {
    border-bottom: 0.001rem solid #c7c7c7;
    border-top: 0.001rem solid #c7c7c7;
    font-size: 0.5rem;
    font-weight: lighter;
    vertical-align: baseline;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    color: #454340;
}
.main-cart-remove{
    width: 5%;
    text-align: left;


}
.main-cart-image{
    width: 29%;
    text-align: left;
}
.main-cart-image-scarf{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.main-cart-description{
    width: 30%;
    text-align: left;
}
.main-cart-price{
    text-align:right;
    width: 15%;
}
.main-cart-quantity{
    text-align: right;
    width: 10%;
}
.main-cart-total{
    text-align: right;
    width: 15%;
}
.trash{
    cursor: pointer;
}
.item-pic-scarf{
    width: 30%;
    text-align: left;
    height: 90%;
    padding-bottom: 3%;
    padding-top: 3%;

}
.main-cart-image-catscarf{
    width: 7rem;
    text-align: left;
    cursor: pointer;
}
.the-squirrel{
   margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    cursor: pointer;
}
.squirrel-link:hover{
    color: #c9df52;

}
.squirrel-link{
    color: #454340;
    transition:all 0.2s;
    text-decoration: none;
}
.kiwi{
    font: inherit;
    font-weight: lighter;
    font-size: 0.9rem;
}
.color{
    color: #262626;
}
.main-cart-price-dollar{
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;

}


td{
    padding: 0;
}
.two-note{

}
.note-special-cart{
padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;

}

.note-special-cart-yourslef{
    width: 100%;

    margin-bottom: 5%;
    border-radius: 5%;
    border: 0.001rem solid darkgrey;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 6em;

}
.note-special-cart-top{
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;


}
.two-submit{

    text-align: right;
}

input[type=submit]{
    border: 0;
    padding: 0;
    background: 0;

}
.two-line{
width: 50%;
}
.update-cart{
    font-size: 1rem;
    text-align: right;
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    transition:all 0.2s;
    color: #4c4a47;
    cursor: pointer;

margin-right: 2rem;
}
.update-cart:hover{
    color: #c9df52;
}
.subtotal-cart{
    font-size: 1rem;
    text-align: left;
    display: inline-block;

    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;




}
.last-price-cart{
    text-align: right;
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;


}
.checkout-cart{

    text-align: right;

}
.checkout{
    font-family: 'Sacramento';
    transition:all 0.5s;
    cursor: pointer;
}
.checkout:hover{
   color: #c9df52;
}

button{
    border: 0;
    background: 0;
    outline: 0;
    padding: 0;

    font-size: 4rem;
}

.shopping{
    text-align: center;
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.2rem;
    margin: 0;
    padding-top: 2%;
    color: #474542;
    cursor: pointer;
    height: 7rem;
}
.shopping a{
    text-decoration: none;
    color: #474542;
    transition:all 0.5s;
}
.shopping a:hover{
    color: #c9df52;
}
input[type=number]{
    max-width: 20%;
    margin: 0;
    border: 1px solid #999;
    border-radius: 0.5em;
    padding: 0.5em;
}
#choose-number{
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;

}
.main-cart-total-price{
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1rem;

}
.update-subtotal-cart{
    text-align: right;
    padding-bottom: 0;
}

@media screen and (max-width: 640px) {
    thead {
        display: block;
    }

    th, .main-cart-price , .catscarf-header-cart {
        display: none;
    }

    #header-cart-black {
        display: none;
    }
    .catscarf{
        display: none;
    }

    tfoot, tbody, td {
        display: block;


    }


    .main-cart-image, .main-cart-description, .main-cart-price, .main-cart-quantity {
        width: 100%;
        text-align: left;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .note-special-cart-yourslef, .note-special-cart-top {
        width: 100%;
    }

    .note-special-cart {
        border-bottom: 0.001rem solid #c7c7c7;
        width: 100%;
    }

    .main-cart-image-catscarf {
        width: 10rem;
    }

    .the-squirrel {
        font-size: 2.2rem;
        padding-bottom: 0;
        padding-top: 0;
        margin: 0;
        width: 20ch;

    }

    .kiwi {
        font-size: 1.3rem;
        margin: 0;


    }

    .main-cart-total-price {
        font-size: 1.8rem;

    }

    .main-cart-total {
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .main-cart-title {
        font-size: 4rem;
        border-bottom: 1px solid #c7c7c7;
        margin-top: 0;
        padding-top: 0;
    }

    .note-special-cart-top {
        margin-top: 0;
        margin-bottom: 10%;


font-size: 2rem;
    }

    .last-price-cart {
        text-align: center;
        font-size: 2.5rem;
        margin: 0;
    }

    .checkout-cart {
        text-align: center;
        font-weight: bolder;
        margin: 0;
    }

    .update-subtotal-cart {
        width: 85vw;

        text-align: right;
    }
    .shopping{
        height: 5rem;
        margin-top: 1.9rem;
        font-size: 1.4rem;
        font-family: "Playfair Display SC",serif;
    }
    .update-cart{
        font-size: 0.8rem;
        text-align: left;
    }
}
@media screen and (min-width: 640px){
.basket-header-cart-mobile{
    display: none;
}
}
@media screen and (max-width: 450px) {
    .content-cart-page {
        overflow-x: hidden ;

    }}















