@font-face {
    font-family:"Alicee";
    src: url("/font/Alice-Regular.ttf")format("truetype");

}
#header{
    width: 100%;
    height: 1.7rem;
    display: flex;
    flex-direction: row;
    font-size:0.5rem;
    font-family: Alie;
    color: #3e413b;
    font-weight: lighter;

}
.avatar-logo{
    width:5%;
    height: 80%;
    margin-left: 3%;

}
.shop{
    margin-left: 37.5%;
    margin-top: 1.2%;
    position: relative;
    right: 4%;
    font-family: "Alie";
}
.About{
    margin-left: 3%;
    margin-top: 1.2%;
    position: relative;
    right: 2%;
}
.thoughts{
    margin-left: 3%;
    margin-top: 1.2%;
    position: relative;
    left: 2%;
}
.contact{
    margin-left: 3%;
    margin-top: 1.2%;
    position: relative;
    left: 4%;
}
p{background-color: white;
    width: 14%;
    height: 20%;
    text-align: center;
    position: relative;
    bottom: 1.2rem;
    left: 45%;
    font-family: Alie;
    font-weight: lighter;
    font-size: 0.4rem;
}
hr{
    color: #3e413b;
    margin-left: 33%;
    margin-right: 27%;
    position: relative;
    bottom: 0.5rem;
}
.basket{width: 2%;
    height: 50%;
    position: relative;
    left: 25%;
    top: 35%;}