<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/highfashionstyle.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="title">
        <h1>
            High Fashion
        </h1>
        <p>
            Born from a need for high quality, artisan hand-knit pet fashion for all seasons. Our collections have a little something for every beloved feline in your life.
        </p>

    </div>
    <div class="features">
        <div class="feature">
            <img src="img/img_premiumyarns_anim.gif">
            <h3>Premium Yarns</h3>
            <hr>
            <p>
                From the Andes in Peru to South of Beijing, we scoured the globe to find yarns that are both animal-friendly and of the upmost quality. Alpaca, mink, and recycled silk are just some of the fibers we have in our arsenal. When it comes to your cat's comfort, we don't play dice.
            </p>
        </div>
        <div class="feature">
            <img src="img/img_custom_fit_anim.gif">
            <h3>Custom Fit</h3>
            <hr>
            <p>
                Fat cat, skinny cat, small cat, tall cat – there's a CatScarf for all. We're here to cater to your cat's specific needs. You tell us your cat's measurements and we craft your loved one a scarf that is not only fashionable and made with love, but has an impeccable fit.
            </p>
        </div>
        <div class="feature">
            <img src="img/img_knitbyhand_anim.gif">
            <h3>Knit By Hand</h3>
            <hr>
            <p>
                Each scarf is painstakingly knit by hand for the cat it was purchased for. We understand how important your cat is and what they deserve. Hours are spent clacking away, knitting until the scarf is flawless. Not all scarves make the cut; we accept nothing less than perfection.
            </p>
        </div>
    </div>

</div>

</body>
</html>