<div class="shop-product-text">
    <h2 class="shop-product-text-caption">The Clyde</h2>
    <div class="shop-product-text-socials">
        <a href="https://google.com">
            <img class="shop-product-text-socials-icons" src="img/twitter-brands.svg" alt="Twitter">
        </a>
        <a href="https://google.com">
            <img class="shop-product-text-socials-icons" src="img/facebook-brands.svg" alt="Facebook">
        </a>
        <a href="https://google.com">
            <img class="shop-product-text-socials-icons" src="img/pinterest-brands.svg" alt="Pinterest">
        </a>
    </div>
    <hr>
    <h3 class="shop-product-text-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut enim eum, ex expedita nulla numquam obcaecati optio repudiandae voluptatibus.</h3>
    <div class="shop-product-text-preview">
        <img class="shop-product-text-preview-selected" src="img/brown.jpg" alt="">
        <img class="shop-product-text-preview-image" src="img/cream.jpg" alt="">
        <img class="shop-product-text-preview-image" src="img/olive.jpg" alt="">
        <img class="shop-product-text-preview-image" src="img/salt_and_pep.jpg" alt="">
    </div>
    <div>
        <form>
            <label for="shop-product-text-color"></label>
            <select class="shop-product-text-list" name="shop-product-text-color" id="shop-product-text-color">
                <option value="0">Brown</option>
                <option value="1">Cream</option>
                <option value="2">Olive</option>
                <option value="3">salt & Pepper</option>
            </select>
        </form>
    </div>
    <h3 class="shop-product-text-price">$39.00</h3>
    <hr>
</div>