<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/storestyle.css">
    <link rel="stylesheet" href="../css/overlaystyle.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
</head>
<body>
<div class="shopwrapper">
    <div class="shoprows">
        <div class="rowtitle">
            <h1>
                Signature
            </h1>
            <p>
                Autumn colors. Luxurious fibers. High fashion.
            </p>
        </div>
       <div class="rowitems">
           <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/Clyde_brown_large.jpg?v=1379412622" >
               <a >
                   <div class="overlay">
                       <h1> the <br>
                           cydle</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>
           </div>
           <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/Squirrel_kiwi_large.jpg?v=1523821881">
               <a >
                   <div class="overlay">
                       <h1> the <br>
                           sqirrel</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>
           </div>
           <div class="shopitem">
               <img src="	https://cdn.shopify.com/s/files/1/0261/4687/products/Sid_Nancy_charcoal_coral_large.jpg?v=1379412706">
               <a >
                   <div class="overlay">
                       <h1> the <br>
                           sid & Nancy</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>
           </div>
       </div>
    </div>
    <div class="shoprows">
        <div class="rowtitle">
            <h1>
                Spring
            </h1>
            <p>
                Bright. Bold. Adorable.
            </p>
        </div>
       <div class="rowitems">
           <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/gus-blue_large.jpg?v=1390356518" alt="">
               <a >
                   <div class="overlay">
                       <h1> the <br>
                           Gus</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>
           </div>
           <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/mobius_pink_large.jpg?v=1397337924" alt="">
               <a >
                   <div class="overlay">
                       <h1> the <br>
                           mobius</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>
           </div>
           <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/cowl_bluegrey_large.jpg?v=1397336703" alt="">
               <a >
                   <div class="overlay">
                       <h1> the <br>
                           gwendolyn</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>
           </div>
       </div>
    </div>
    <div class="shoprows">
        <div class="rowtitle">
            <h1>
                Winter
            </h1>
            <p>
                Striking design. Pure Comfort. High Fashion.
            </p>
        </div>
        <div class="rowitems">
            <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/the-ricky2_large.jpg?v=1429669877" alt="">
                <a >
                    <div class="overlay">
                        <h1> the <br>
                            Ricky</h1>
                        <hr style="width:50% ;text-align:center;"/>
                        <b class="button">view details</b>
                    </div>
                </a>
            </div>
            <div class="shopitem">
                <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/the-felix-grey_large.jpg?v=1429670024" alt="">
                <a >
                    <div class="overlay">
                        <h1> the <br>
                            felix</h1>
                        <hr style="width:50% ;text-align:center;"/>
                        <b class="button">view details</b>
                    </div>
                </a>
            </div>
            <div class="shopitem">
                <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/theidk2_large.jpg?v=1429669930" alt="">
                <a >
                    <div class="overlay">
                        <h1> the <br>
                            hodge podge</h1>
                        <hr style="width:50% ;text-align:center;"/>
                        <b class="button">view details</b>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="shoprows">
        <div class="rowtitle">
            <h1>
                The Hallow's Eve
            </h1>
            <p>
                Reversible. Comfortable. Badass.
            </p>
        </div>
       <div class="rowitems">
           <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/the_hallows_eve_skull_bones_detail_large.jpg?v=1382844328">
               <a >
                   <div class="overlay">
                       <h1> the <br>
                           skull detail</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>
           </div>
           <div class="shopitem">
               <img src="https://cdn.shopify.com/s/files/1/0261/4687/products/the_hallows_eve_solid_large.jpg?v=1381798982">
               <a >
                   <div class="overlay">
                       <h1> the hollow`s eve  <br>
                           solid</h1>
                       <hr style="width:50% ;text-align:center;"/>
                       <b class="button">view details</b>
                   </div>
               </a>

            </div>
       </div>
    </div>
</div>
</body>
</html>