<div class="thoughts-main-posts">
    <div class="thoughts-main-posts-intro">
        <h2 class="thoughts-main-posts-intro-caption">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-intro-date">Sept 25, 2021</h3>
        <hr>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
    <div class="thoughts-main-posts-box">
        <h2 class="thoughts-main-posts-box-title">Lorem ipsum dolor sit amet.</h2>
        <h3 class="thoughts-main-posts-box-date">Sept 25, 2021</h3>
        <hr>
        <img class="thoughts-main-posts-box-picture" src="img/cat-picture.jpg" alt="">
        <h3 class="thoughts-main-posts-box-description">#Lorem ipsum dolor.</h3>
        <hr>
    </div>
</div>